<% provide(:title, 'Edit user') %>
<% provide(:button_text, 'Save changes') %>

<h1>Update your profile</h1>
<div class="container">
	<%= render 'formUpdate' %>
    <div>
        <%= link_to 'Back', users_path %>
    </div>
</div>
