@import "bootstrap-sprockets";
@import "bootstrap";

$gray-medium-light: #eaeaea;
$background-a:#D6DBDF;

body{
    padding-top: 60px;
}
section{
    overflow: auto;
}

textarea{
    resize: vertical;
}
.center{
    text-align: center;
}

.center h1{
    margin-bottom: 10px;
}

/*Tipografia */

h1, h1, h3, h4,h5{
    line-height: 1;
}

h1{
    font-size: 3em;
    letter-spacing: 2px;
    margin-bottom: 30px;
    text-align: center;
}

p{
    font-size: 1.1em;
    line-height: 1.7em;
}

#logo{
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: #fff;
    text-transform: capitalize;
    letter-spacing: -1px;
    font-weight: bold;
    margin-top: 10px;

    &:hover{
        color: #58D68D;
        text-decoration: none;
    }
}

/*footer*/

footer{
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid $gray-medium-light;
    color: #777;

     a{
        color: $gray;
        display: block;
        background-color: $background-a;
        padding: 5px;

        &:hover{
            color: $gray-medium-light;
        }
    }
    
    small{
        float: left;
    }

    ul{
    float: right;
    list-style: none;
        li{
        float: left;
        margin-left: 15px;
        }
    }
}